{% extends "base.html" %}
{% block content %}

	{% set outages = categories | categories_dict %}

	<div class="bodycontent">

		<div class="bg-light pb-5">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="d-flex align-items-center mt-5">
						<h3 class="text-muted fw-bold">Resolved Outages</h3>
						<div class="ms-auto h5 fw-bold"><a href="/">view current outages &raquo;</a></div>
					</div>
					<div class="list-group">
						{% set lm = namespace(lastmonth="") %}
						{% for outage in outages['resolved'] %}
							{% if lm.lastmonth != outage.date|formatdate(formatstring='%B %Y') %}
								{% set lm.lastmonth = outage.date|formatdate(formatstring='%B %Y') %}
								<div class="list-group-item bg-light border-start-0 border-end-0 {{'border-top-0' if loop.first}}">
									<h4 class="mb-0 fw-bold {{'mt-2' if loop.first else 'mt-3'}}">{{lm.lastmonth}}</h4>
								</div>
							{% endif %}

							<div class="list-group-item border-bottom">
								<h5 class="fw-bold"><a href="{{TICKET_TRACKER_URL}}{{outage.ticket}}">#{{outage.ticket}}</a> {{outage.title}}</h5>
								<div>{{outage.content}}</div>
								<div class="text-end font-weight-bold text-muted">{{outage.date|formatdate}} - 
									{% if outage.metadata.outagefinish %}
										{{outage.metadata.outagefinish|parsedate|formatdate}}
									{% else %}
										unknown
									{% endif %}
								</div>
							</div>
						{% endfor %}
						</div>
			</div>
			</div>
		</div>
		</div>
	</div>
{% endblock content %}
