<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fedora Infrastructure - Status</title>
    <style type="text/css">
      {% include 'style.css' %}
    </style>
    <link rel="alternate" type="application/rss+xml" title="Changes feed" href="/changes.rss" />
     <meta http-equiv="refresh" content="60" />
     <link rel="shortcut icon" href="/status-{{global_status}}.ico">
  </head>
  <body>
    <div id="header">
      <div class="navbar">
        <div class="constraint">
          <h1 class="name"><a href="/">Fedora Infrastructure Status</a></h1>
          <ul>
            <li><a href="https://apps.fedoraproject.org/calendar/list/infrastructure-outages/">Outages Calendar</a></li>
            <li><a href="irc://irc.freenode.net/fedora-admin">#fedora-admin on irc.freenode.net</a></li>
          </ul>
          <h2>(This page is manually updated with known outages)</h2>
        </div>
      </div>
      <div class="headercontent {% if global_status == "good" %}
                                  all-okay
                                {% elif global_status == "scheduled" %}
                                  minor-incident
                                {% elif global_status == "minor" %}
                                  minor-incident
                                {% elif global_status == "major" %}
                                  major-incident
                                {% endif %}">
        <div class="constraint">
          <h1 class="nomargin">{{verbose_global_status}}</h1>
        </div>
      </div>
      {% if global_info != "" %}
      <div class="headerstatus">
        <div class="constraint">
          <h3 class="nomargin">{{global_info}}</h3>
        </div>
      </div>
      {% endif %}
    </div>

    {% block content %}{% endblock %}

    <div id="footer" class="constraint">
      <p class="left">
        &copy; {{year}} Red Hat, Inc., Patrick Uiterwijk<br>
      </p>
      <p class="right">
        Silk Icons by <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam</a><br />
        <a href="http://git.fedorahosted.org/git/fedora-status">Open Source</a>
      </p>
    </div>

    <script src="https://apps.fedoraproject.org/fedmenu/js/jquery-1.11.2.min.js"></script>
    <script src="https://apps.fedoraproject.org/fedmenu/js/fedmenu.js"></script>
    <script>
      fedmenu({
          'url': 'https://apps.fedoraproject.org/js/data.js',
          'mimeType': 'application/javascript',
          'position': 'bottom-right',
      });
    </script>

  </body>
</html>
