<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fedora Infrastructure - Status</title>
    <style type="text/css">
      {% include 'style.css' %}
    </style>
    <link rel="alternate" type="application/rss+xml" title="Changes feed" href="/changes.rss" />
     <meta http-equiv="refresh" content="5" />
  </head>
  <body>
    <div id="header">
      <div class="navbar">
        <div class="constraint">
          <h1 class="name"><a href="/">Fedora Infrastructure Status</a></h1>
          <ul>
            <li><a href="irc://irc.freenode.net/fedora-admin">#fedora-admin on irc.freenode.net</a></li>
          </ul>
        </div>
      </div>
      <div class="headercontent {% if global_status == "ok" %}
                                  all-okay
                                {% elif global_status == "minor" %}
                                  minor-incident
                                {% elif global_status == "major" %}
                                  major-incident
                                {% endif %}">
        <div class="constraint">
          <h1 class="nomargin">
          {% if global_status == "ok" %}
            All systems go.
          {% elif global_status == "minor" %}
            Minor service disruption.
          {% elif global_status == "major" %}
            Major service disruption.
          {% endif %}
          </h1>
        </div>
      </div>
      {% if global_info != "" %}
      <div class="headerstatus">
        <div class="constraint">
          <h3 class="nomargin">{{global_info}}</h3>
        </div>
      </div>
      {% endif %}
    </div>

    {% block content %}{% endblock %}

    <div id="footer" class="constraint">
      <p class="left">
        &copy; 2012 Red Hat, Inc., Patrick Uiterwijk<br>
      </p>
      <p class="right">
        Silk Icons by <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam</a><br />
        <a href="http://git.fedorahosted.org/git/fedora-status">Open Source</a>
      </p>
    </div>
  </body>
</html>
