<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
        <title>Fedora Service Status</title>
        <description>This feed is updated when the Fedora service status changes</description>
        <link>http://status.fedoraproject.org/</link>
        <lastBuildDate>{{currenttime}}</lastBuildDate>
        <pubDate>{{currenttime}}</pubDate>
        <ttl>1800</ttl>
        <atom:link href="http://status.fedoraproject.org/changes.rss" rel="self" type="application/rss+xml" />
   {% for change in changes %}
        <item>
                <title>{{change.update_title}}</title>
       {% if change.changetype == 'single' %}
                <description>Service '{{change.serviceName}}' now has status: {{change.status}}: {{change.message}}</description>
       {% else %}
                <description>New status {{change.status}}: {{change.message}} for services: {{change.serviceNames|join(', ')}}</description>
       {% endif %}
                <link>http://status.fedoraproject.org/</link>
                <guid isPermaLink="false">{{change.changedate}}</guid>
                <pubDate>{{change.datetime}}</pubDate>
        </item>
    {% endfor %} 
</channel>
</rss>
